[Unit]
Description=Perfect deployed perfect-app-template

[Service]
Type=simple
WorkingDirectory=/perfect-deployed/perfect-app-template
ExecStart=/perfect-deployed/perfect-app-template/Perfect-App-Template
Restart=always
PIDFile=/var/run/perfect-app-template.pid

[Install]
WantedBy=multi-user.target
